<main class="flex-shrink-0 my-auto">
  <div class="text-center container">
    <h1 class="display-1 fw-bold text-warning">ItemPickups</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead fw-normal">
        Found a really cool item at your local Goodwill? Received an awesome
        birthday gift? Treated yourself to a new console? This is the place to
        show them off!
      </p>
      <a class="btn btn-warning btn-lg fw-semibold" href="/signup">Sign Up</a>
    </div>
  </div>
</main>
