<main class="form-signin w-100 m-auto">
  <div class="container-sm bg-dark p-4 m-1 rounded">
    <h1 class="text-light mb-3">Login</h1>
    <% if (locals.messages.error) { %>
    <p style="color: red"><%= messages.error %></p>
    <% } %>
    <form action="/login" method="POST">
      <div class="form-floating mb-3">
        <input
          type="email"
          name="email"
          class="form-control"
          id="floatingInput"
          placeholder="name@example.com"
        />
        <label for="floatingInput">Email Address</label>
      </div>
      <div class="form-floating mb-3">
        <input
          type="password"
          name="password"
          class="form-control"
          id="floatingPassword"
          placeholder="Password"
        />
        <label for="floatingPassword">Password</label>
      </div>
      <button type="submit" class="w-100 btn btn-lg btn-warning fw-semibold">
        Login
      </button>
    </form>
  </div>
</main>
