<main>
  <h1>Signup Page</h1>
  <form action="/signup" method="POST">
    <label for="username">Username</label>
    <input type="text" name="username" placeholder="Enter Username" />
    <label for="email">Email</label>
    <input type="email" name="email" placeholder="Email" />
    <label for="password">Password</label>
    <input type="password" name="password" placeholder="Password" />
    <label for="confirmPassword">Confirm Password</label>
    <input
      type="password"
      name="confirmPassword"
      placeholder="Confirm Password"
    />
    <button type="submit" class="btn">Signup</button>
  </form>
</main>
